@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: variables.$font-poppins
    font-size: 1rem
    line-height: 1.6
    color: variables.$dark
    background-color: variables.$light

.navbar
    position: fixed
    bottom: 0
    @include variables.flex-center
    z-index: 1000
    width: 100%
    background-color: variables.$gray
    box-shadow: variables.$shadow

    a
        @include variables.flex-center
        width: 20%
        text-decoration: none
        background: variables.$gray

        > img
            width: 80%
            @include variables.image-aspect
            padding: 0.5em

.app-title
    @include variables.flex-center
    padding: 2em 0
    width: 100%

    h1
        font: bold 3em variables.$font-pixelify
        text-transform: uppercase

    > img
        width: 20%
        padding: 0.5em
