@import url("../global.css");

section.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 60vh;
    padding: 0 2em;
}

.main-content__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content__header>img {
    width: 20%;
    height: auto;
    aspect-ratio: 1/1;
}

.main-content__header h2 {
    font: bold 2.2em var(--pixelify);
    padding-left: 0.3em;
}

.dice-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    margin-top: 2em;
}

.dice-name-input {
    padding: 1em;
    border: none;
    border-radius: 1em;
    background: #ccc;
    font: 1.2em var(--poppins);
    width: 100%;
}

.options-container {
    background: #ccc;
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.options-container label {
    font: bold 1.2em var(--poppins);
    color: rgba(0, 0, 0, 0.7);
}

.option-input-group {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0.8em;
    align-items: center;
    width: 100%;
}

.option-input {
    padding: 1em;
    border: none;
    border-radius: 0.8em;
    font: 1.2em var(--poppins);
    background: var(--white);
    width: 100%;
    height: 3em;
}

.add-option-btn {
    width: 4em;
    height: 4em;
    min-width: 4em;
    border: none;
    border-radius: 50%;
    background: var(--dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em;
}

.add-option-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.options-list {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.option-card {
    background: var(--white);
    padding: 1em;
    border-radius: 0.8em;
    font: 1em var(--poppins);
    color: var(--black);
    box-shadow: var(--shadow);
}

.create-dice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    background: var(--black);
    border: none;
    border-radius: 1em;
    color: var(--white);
    font: 1.2em var(--poppins);
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.create-dice-btn:hover {
    transform: scale(1.02);
}

.create-dice-btn img {
    width: 2em;
    height: 2em;
}